In [1]:
import pandas as pd
import json
print("Imported libraries")

Imported libraries

In [4]:
!wget -q -O 'PostalCode.txt' https://raw.githubusercontent.com/albperan/Test/master/PostalCodes.txt
print('Data downloaded!')

Data downloaded!

In [5]:
column_names = ['PostalCode', 'Borough', 'Neighborhood']

In [18]:
df = pd.read_csv('PostalCode.txt',sep="\t", names = column_names)
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest
177,M9X,Not assigned,NaN
178,M9Y,Not assigned,NaN
179,M9Z,Not assigned,NaN

In [26]:
df.dropna()

,PostalCode,Borough,Neighborhood
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
...,...,...,...
170,M9N,York,Weston
171,M9P,Etobicoke,Westmount
172,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest