In [2]:
import pandas as pd
print("Imported libraries")

Imported libraries

In [3]:
!wget -q -O 'PostalCode.txt' https://raw.githubusercontent.com/albperan/Test/master/PostalCodes.txt
print('Data downloaded!')
!wget -q -O 'Coorditantes.csv' http://cocl.us/Geospatial_data

Data downloaded!

In [4]:
column_names = ['PostalCode', 'Borough', 'Neighborhood']

In [21]:
df = pd.read_csv('PostalCode.txt',sep="\t", names = column_names)
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest
177,M9X,Not assigned,NaN
178,M9Y,Not assigned,NaN
179,M9Z,Not assigned,NaN

In [41]:
df = df[df.Borough != 'Not assigned']
df.reset_index(inplace = True, drop = True) 
df

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,Northwest

In [42]:
df.shape

(103, 3)

In [43]:
dfCoordinates = pd.read_csv('Coorditantes.csv')
dfCoordinates
Lat = dfCoordinates[['Latitude']]
Lon = dfCoordinates[['Longitude']]

In [45]:
df['Latitude'] = Lat 
df['Longitude'] = Lon
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054